.workContainer {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.workContent {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
}

.leftContainer {
  color: #ffffff;
  position: relative;
  min-width: 300px;
}

.titleContainer {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 100px));
}

.titleContainer h2 {
  font-size: 72px;
  margin: 0;
  position: relative;
}

.titleContainer h2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  bottom: -5px;
  left: 10px;
  transition: 1s;
}

.titleContainer p {
  margin: 20px 0 0 10px;
}

.projects {
  display: grid;
  gap: 7.5px;
  width: 645px;
  max-height: 420px;
  height: 100%;
  grid-template-columns: auto auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
}

/* width */
.projects::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.projects::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.projects::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.projects::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.projectItem {
  display: grid;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 30px;
  height: 200px;
  text-align: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: 1s;
}

.projectItem img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  display: none;
}

@media screen and (max-width: 795px) {
  .titleContainer,
  .leftContainer {
    display: none;
  }
  .projectItem {
    height: 175px;
  }
  .projects {
    max-height: 362px;
  }
}

@media screen and (max-width: 650px) {
  .projects {
    max-height: 420px;
    grid-template-columns: auto;
    width: 315px;
    overflow: hidden;
    gap: 15.5px;
  }

  .arrow {
    width: 100%;
    height: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    transition: 1s;
    opacity: 0;
  }

  .up {
    top: 0;
    opacity: 1;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .up svg {
    transform: rotate(180deg);
  }

  .down {
    top: calc(100% - 30px);
    opacity: 1;
  }

  .projectsUp .projectItem {
    transform: translateY(-334px);
  }
}
