.App {
  background-color: black;
  width: 100vw;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.Content {
  width: 300vw;
  position: relative;
  transition: 1s;
}

.Contact {
  transform: translateX(100vw);
}

.Home {
  transform: translateX(0);
}

.Work {
  transform: translateX(-100vw);
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .Btn {
  color: #fff;
  margin-left: 5px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.Footer .Selected {
  color: aqua;
}
